@import "variables";
@import "mixins";
@import url(../fonts/font.css);
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    direction: rtl;
    overflow-x: hidden !important;
    font-display: swap;
    font-family: "main-font" , Arial, sans-serif;
    line-height: unset !important;
    width: 100% !important;
    min-width: 300px;
    font-size: 14px;
    background-color: $background-color;
    * {
        box-sizing: border-box !important;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none !important;
    }
    ul{
        padding: 0;
    }
    img{
        max-width: 100%;
        height: auto;
    }
    input{
        outline: 0px solid transparent!important;
        border: 0px solid transparent;
        font-family: "main-font";
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
}

.mm-width{
    max-width: 1300px;
}
/* side bar */
.side-bar-wrapper{
    @include flexMixin(column,center,center);
    flex: 0 0 256px;
    gap: 22px;
    nav{
        background-color: #fff;
        border-radius: $radius;
        padding: 24px 16px 120px 24px;
        @include flexMixin(column,flex-start,flex-start);
        width: 100%;
        gap: 10px;
    }
    .side-bar-item{
        width: 100%;
        @include flexMixin(row,flex-start,center);
        gap: 10px;
        font-size: 14px;
        color: #000;
        height: 40px;
        padding: 0 9px;
        border-radius: 4px;
        font-weight: 500;
    }
    .active-item{
        color: #9D58C5;
        background-color: rgba(157, 88, 197 , 0.1);
    }
    .kad-panel-version{
        width: 100%;
        background-color: #fff;
        border-radius: $radius;
        height: 80px;
        @include flexMixin(column,center,center);
        gap: 10px;
        .text{
            font-weight: bold;
        }
        .version-wrapper{
            font-size: 12px;
            color: #8E8E93;
        }
    }
}

/* side bar */

/* welcome text */
.welcome-text-wrapper{
    width: 100%;
    margin: 0 0 29px;
    @include flexMixin(row,space-between,center);
    .welcome-text{
        font-size: 21px;
        font-weight: 500;
    }
    .options{
        @include flexMixin(row,center,flex-start);
        height: 100%;
    }
    .welcome-filter{
        width: 152px;
        height: 40px;
        background-color: #27AE60;
        font-size: 14px;
        @include flexMixin(row,center,center);
        border-radius: $radius;
        color: #fff;
        cursor: pointer;
        font-weight: bold;
    }
    .welcome-filter-text{
        width: 96px;
        @include flexMixin(row,center,center);
    }
}
/* welcome text */
/* main content */
.main-content{
    width: 100%;
    @include flexMixin(column,flex-start,center);
}
.page-404{
    width: 100%;
    height: 400px;
    @include flexMixin(row,center,center);
    font-size: 40px;
}
/* main content */

/* page wrapper */
.page-wrapper{
    @include flexMixin(row,flex-start,flex-start);
    width: 100%;
    gap: 21px;
    padding: 0 16px;
    margin: 0 0 30px;
}
/* page wrapper */

/* header */
.main-header{
    width: 100%;
    @include flexMixin(row,space-between,center);
    gap: 100px;
    background-color: #fff;
    height: 64px;
    padding: 0 30px 0 36px;
    margin: 0 0 17px;
    border-radius:  0 0 20px 0;
    .user-img-name{
        @include flexMixin(row,flex-start,center);
        gap: 16px;
        font-size: 15px;
        flex: 0 0 200px;
    }
    .open-drop-down{
        img{
            width: 24px;
            cursor: pointer;
        }
        @include flexMixin(row,center,center);
    }
    .user-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        background-color: $gray;
    }
    .search-part{
        width: 100%;
        @include flexMixin(row,flex-start,center);
        gap: 10px;
        input{
            border-width: 0px;
            font-family: 'main-font';
            width: 100%;
        }
    }
    .notif-part{
        position: relative;
        @include flexMixin(row,flex-start,center);
        cursor: pointer;
        flex: 0 0 40px;
        img{
            width: 20px;
        }
    }
    .active-notif{
        background-color: red;
        border : 1px solid #fff;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        top: -1px;
        right: 0px;
        z-index: 3;
    }
}
/* header */

/* finance page */
.finance-wrapper{
    position: relative;
    z-index: 3;
    .bill-and-time-wrapper{
        width: 100%;
        @include flexMixin(row,space-between,flex-start);
        gap: 10px;
    }
    .choose-time-wrapper{
        flex: 0 0 180px;
        // height: 122px;
        border-radius: $radius;
        background-color: #fff;
        @include flexMixin(column,flex-start,center);
        padding: 9px 22px 11px;
    }
    .title-wrapper{
        width: 100%;
        @include flexMixin(row,space-between,center);
        margin: 0 0 13px;
    }
    .title{
        font-size: 14px;
        font-weight: bold;
    }
    .cross{
        width: 30px;
        height: 30px;
        position: relative;
        @include flexMixin(row,center,center);
    }
    .line{
        width: 15px;
        height : 1px;
        background-color: #000;
        position: absolute;

    }
    .line-1{
        transform: rotate(45deg);
    }
    .line-2{
        transform: rotate(-45deg);
    }
    .choose-time{
        width: 100%;
        height: 30px;
        border-radius: 8px;
        border: 1px solid #e1e1e1;
        @include flexMixin(row,center,center);
        font-size: 12px;
        cursor: pointer;
    }
    .till{
        font-size: 13px;
        margin: 5px 0 0;
    }
    .bills{
        min-height: 461px;
        width: 100%;
        border-radius: $radius;
        @include flexMixin(column,flex-start,center);
        padding: 20px 14px;
        background-color: #fff;
        gap: 12px;
    }
    .bills-header,.bill{
        @include flexMixin(row,space-evenly,flex-start);
        padding: 0 15px;
        width: 100%;
    }
    .bill-header-item , .bill-item{
        flex: 1;
        color: #7E818A;
        font-size: 13px;
    }
    .bill-header-item.show-details{
        border: 0px solid #fff;
        height: unset;
    }
    .bill{
        align-items: center;
        background-color: #F7F7F7;
        border-radius: 16px;
        height: 68px;
    }
    .bill-item{
        color: #000;
        font-size: 15px;
    }
    .pay-kind{
        font-weight: bold;
    }
    .show-details{
        border-radius: 12px;
        flex: 0 0 95px;
        height: 33px;
        border: 1px solid #7E818A;
        @include flexMixin(row,center,center);
        font-size: 13px;
        cursor: pointer;
    }
    .pay-date-info{
        @include flexMixin(column,center,flex-start);
    }
}
.finanace-pop-up-wrapper{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.20);
    position: fixed;
    top: 0;
    left: 0;
    @include flexMixin(row,center,flex-start);
    padding: 100px 20px 20px;
    z-index: 999;
    .finance-pop-up{
        max-width: 926px;
        width: 100%;
        background-color: #fff;
        border-radius: 16px;
        padding: 40px 54px;
        font-size: 13px;
        @include flexMixin(column,flex-start,center);
        gap: 20px;
    }
    .finance-record-title{
        font-weight: bold;
        color: #7E818A;
        width: 100%;
    }
    .finance-record-table{
        width: 100%;
        @include flexMixin(column , flex-start , center);
        gap: 5px;
    }
    .finance-record-table-header,.finance-record-item{
        width: 100%;
        @include flexMixin(row,flex-start,center);
    }
    .finanace-record-header-item{
        flex: 1;
        color: #7E818A;
        @include flexMixin(column,center,center);
        font-weight: bold;
    }
    .finance-record-item{
        color: #000;
        background-color: #f7f7f7;
        height: 204px;
        border-radius: $radius;
        padding: 20px 0;
    }
    .single {
        height: 88px;
        .table-item{
            justify-content: center;
        }
    }
    .table-item{
        font-size: 15px;
        @include flexMixin(column , space-between,center);
        height: 100%;
        font-weight: normal;
        color: #000;
    }
    .inside-item{
        @include flexMixin(column, center, center);
    }
    .first-col{
        flex: 0 0 100px;
        font-weight: bold;
    }
    .waiting-to-pay{
        color: #F00;
        font-weight: bold;
    }
    .actions-btns{
        @include flexMixin(row,flex-end,center);
        gap: 3px;
        width: 100%;
    }
    .action-btn{
        width: 95px;
        height: 33px;
        border-radius: 12px;
        border: 0.5px solid #7E818A;
        font-size: 13px;
        @include flexMixin(row,center,center);
        cursor: pointer;
        transition: $transition;
    }
}
/* finance page */
/* inside loader */
@keyframes spinMf {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}

.inside-loader {
    @include flexMixin(row, center, center);

    svg {
        animation: spinMf 1s ease-in-out 0s infinite normal;
    }
}
/* inside loader */
/* login Page */
.login-page-wrapper{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    @include flexMixin(row , flex-start, center);
    padding: 0 200px;
    background-image: url("../images/landing-bg.webp");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    .content-wrapper{
        @include flexMixin(column,flex-start,flex-start);
        gap: 10px;
        width: 100%;
    }
    .title{
        font-size: 50px;
        font-weight: bold;
    }
    .page-desc{
        font-size: 30px;
    }
    .input-btn-wrapper{
        width: 100%;
        @include flexMixin(row,flex-start,flex-start);
        gap: 11px;
    }
    .input-wrapper{
        position: relative;
        max-width: 369px;
        width: 100%;
        @include flexMixin(column,flex-start,flex-start);
        gap: 12px;
    }
    .pass-input{
        max-width: 369px;
        width: 100%;
        height: 62px;
        border-radius: 8px;
        color: #fff;
        background: rgba(166, 103, 202, 0.20);
        padding: 0 20px;
        &::placeholder {
            color: #fff;
            opacity: 1;
        }
        &:-ms-input-placeholder {
            color: #fff;
        }
        &::-ms-input-placeholder {
            color: #fff;
        }
    }
    .show-pass-icon{
        position: absolute;
        top: 22.5px;
        left: 20px;
        cursor: pointer;
        .show-pos{
            position: relative;
            top: 3px;
        }
    }
    .input-error{
       flex: 0 0 110px;
       height: 21px;
       border-radius: 8px;
       @include flexMixin(row,center,center);
       font-size: 13px;
       background-color: #FF5858;
       padding-top: 2px;
    }
    .forget-error-wrapper{
        width: 100%;
        @include flexMixin(row,space-between,center);
    }
    .forget-btn{
        color: #b0b0bb;
        font-size: 13px;
        transition: $transition;
        &:hover{
            color: #fff;
        }
    }
    .enter-btn{
        flex: 0 0 152px;
        height: 62px;
        border-radius: 8px;
        background-color: #fff;
        color: #000;
        font-size: 20px;
        @include flexMixin(row,center,center);
        cursor: pointer;
    }
    .not-allowed{
        cursor: not-allowed;
    }
}
/* login Page */

/* classes Page */
.classes-wrapper{
    .classes{
        width: 100%;
        @include flexMixin(row,flex-start,center);
        gap: 22px;
        flex-wrap: wrap;
    }
    .class-wrapper{
        @include flexMixin(column,flex-start,center);
        padding: 27px 20px 15px;
        background-color: #fff;
        border-radius: 14px;
        flex: 0 0 302px;
        min-height: 407px;
        gap: 15px;
        font-size: 13px;
    }
    .img-wrapper{
        img{
            border-radius: 13px;
        }
    }
    .class-info{
        width: 100%;
        @include flexMixin(row,space-between,center);
        padding: 0 10px;
    }
    .class-teacher-name,.prices-wrppaer{
        @include flexMixin(column,space-between,flex-start);
        gap: 5px;
    }
    .edit-class-btn{
        width: 100%;
        height: 31px;
        border-radius: 8px;
        border: 1px solid #7E818A;
        color: #000;
        font-weight: bold;
        @include flexMixin(row,center,center);
    }
}
/* classes Page */
/* edit class page */
.edit-class-page{
    .main-content{
        align-items: flex-start;
    }
    .class-banner-edit{
        width: 100%;
        @include flexMixin(row,flex-start,flex-start);
        gap: 21px;
        margin: 0 0 19px;
    }
    .edit-satge-area{
        width: 100%;
        max-width: 649px;
        height: 391px;
        border-radius: 14px;
        background-color: #fff;
        @include flexMixin(column,flex-start,flex-start);
        gap: 54px;
        padding: 20px 18px 20px 30px;
    }
    .editing-item{
        color: #000;
        font-weight: bold;
        width: 212px;
        height: 61px;
        border-radius: 7px;
        background-color: #F7F7F7;
        @include flexMixin(row,flex-start,center);
        padding: 10px 15px 10px;
        gap: 12px;
        font-size: 13px;
    }
    .arrow{
        flex: 0 0 13px;
        img{
            position: relative;
            top: 3px;
        }
    }
    .editing-texts{
        width: 100%;
        @include flexMixin(column,flex-start,flex-start);
    }
    .filters-wrapper{
        @include flexMixin(row,flex-end,center);
        gap: 13px;
        width: 100%;
        font-size: 13px;
    }
    .filter{
        @include flexMixin(column,flex-start,flex-start);
        gap: 25px;
        flex: 0 0 125px;
        position: relative;
        input , .drop-down-sample{
            width: 120px;
            height: 27px;
            border: 0.5px solid #7E818A;
            border-radius: 5px;
            padding: 3px 5px 0;
            @include flexMixin(row,flex-start,center);
            &::placeholder{
                color: #999;
            }
        }
    }
    .drop-down-sample{
        cursor: pointer;
        color: #999;
    }
    .filter-title{
        font-weight: bold;
    }
    .input-options {
        position: absolute;
        top: 80px;
        width: 120px;
        height: 150px;
        overflow-y: scroll;
        border: 0.5px solid #7E818A;
        @include flexMixin(column,flex-start,center);
        gap: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
    }
    .class-card {
        @include flexMixin(column, flex-start, center);
        padding: 27px 20px 0;
        background-color: #fff;
        border-radius: 14px;
        flex: 0 0 290px;
        gap: 20px;
        font-size: 13px;
        height: 391px;
    }
    .img-wrapper {
        img {
            border-radius: 13px;
        }
    }
    .class-info {
        width: 100%;
        @include flexMixin(row, space-between, center);
        padding: 0 10px;
    }
    .class-teacher-name,
    .prices-wrppaer {
        @include flexMixin(column, space-between, flex-start);
        gap: 5px;
    }
    .btns-wrapper{
        width: 100%;
        @include flexMixin(column,flex-start,flex-end);
        gap: 10px;
    }
    .edit-btn{
        width: 121px;
        height: 31px;
        border-radius: 10px;
        @include flexMixin(row,center,center);
        color: #fff;
        background-color: #dadada;
        font-size: 14px;
        cursor: pointer;
    }
    .save-changes-btn{
        background-color: #27AE60;
    }
    .session-edits-wrapper{
        width: 100%;
        max-width: 960px;
        height: 559px;
        border-radius: 13px;
        background-color: #F9FAFC;
        @include flexMixin(row,flex-start,flex-start);
        overflow: hidden;
    }
    .session-wrapper{
        flex: 0 0 295px;
        height: 540px;
        transition: $transition;
        padding: 14px 14px 58px;
        @include flexMixin(column,flex-start,flex-start);
        background-color: #fff;
    }
    .teachers-img-name{
        width: 100%;
        height: 54px;
        border-radius: 6px;
        @include flexMixin(row,flex-start,center);
        font-size: 12px;
        gap: 10px;
        border: 1px solid #dadada;
        padding: 0 10px;
    }
    .choose-jalase{
        margin: 25px 10px 12px;
        font-size: 19px;
        font-weight: bold;
        width: 100%;
    }
    .date-picker{
        width: 100%;
        @include flexMixin(column,space-between,flex-end);
        height: 100%;
    }
    .date-picker-box , .choose-time{
        width: 100%;
        height: 38px;
        @include flexMixin(row,space-between,center);
        background-color: #f7f7f7;
        border-radius: 13px;
        font-size: 18px;
    }
    .date-picker-box{
        padding: 0 26px 0 14px;
    }
    .arrow-down{
        cursor: pointer;
        transition: $transition;
        transform: rotate(0);
    }
    .rotate-arrow{
        transform: rotate(180deg);
    }
    .pick-days-wrapper{
        width: 159px;
        border-radius: 13px;
        background-color: #f7f7f7;
        @include flexMixin(column,flex-start,center);
        padding: 20px 30px;
        gap: 10px;
        transition: $transition;
        height: 245px;
        opacity: 1;
    }
    .pick-days-wrapper.no-show{
        opacity: 0;
    }
    .select-day{
        font-size: 18px;
        height: 21px;
        @include flexMixin(row,center,center);
        width: 99px;
        border-radius: 13px;
        cursor: pointer;
       transition:  $transition;
        &:hover{
            background-color: #fff;
        }
    }
    .selected-day{
        background-color: #fff;
    }
    .choose-time{
        padding: 12px;
        font-size: 23px;
    }
    .time-white{
        flex: 0 0 79px;
        height: 28px;
        border-radius: 13px;
        @include flexMixin(row,center,center);
        background-color: #fff;
        padding: 5px 0 0;
    }
}
/* edit class page */
